<!-- <div>
  <router-outlet></router-outlet>
</div> -->
<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode==='side'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Saharacom
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button" routerLink="/clients">
      <mat-icon>person</mat-icon>
      <span>Clients</span>
    </button>
    <button mat-button class="menu-button" routerLink="/article">
      <mat-icon>article</mat-icon>
      <span>Article</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>shopping_cart_checkout</mat-icon>
      <span>Livraison</span>
    </button>

    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <main class="m-2 w-100">

        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
